*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root{
    --black: rgb(26, 26, 26);
    --dark-grey: rgb(78, 78, 78);
    --medium-grey: rgb(102, 102, 102);
    --light-grey: rgb(206, 206, 206);
    --white: rgb(241, 241, 241);
}

body{
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    color: var(--black);
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3,
#tast-title{
    font: inherit;
    font-size: 1.5rem;
}

p,
textarea,
input[type="date"],
option{
    font: inherit;
    font-size: 1.2rem;
}

header{
    background-color: var(--light-grey);
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem 1rem;
    > img{
        height: 6rem;
    }
}

main{
    background-color: white;
    display: grid;

    grid-template-columns: minmax(min-content, 1fr) 5fr;
    > * {
        padding: 1rem 2rem;
        > .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            width: fit-content;
            margin-bottom: 1.5rem;
        }
    }
}

.sidebar{
    background-color: var(--white);
}

.project{
    font-size: 1.5rem;
    list-style: none;
}

.project-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

/* >50% */
.completion-circle{
    width: 0.9rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image:
    linear-gradient(90deg, var(--light-grey) 50%, transparent 50%),
    linear-gradient(-90deg, var(--light-grey) 50%, transparent 50%);
}

/* <50% */
.completion-circle{
    width: 1.6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image:
    linear-gradient(-90deg, var(--white) 50%, transparent 50%),
    linear-gradient(90deg, var(--light-grey) 50%, transparent 50%);
}

.project-tasks{
    padding: 1rem 3rem;
    font-size: 1.3rem;
    list-style: disc;
    > li{
        margin-bottom: 0.35rem;
    }
    > li::marker{
        color: green;
        font-size: 1.7rem;
    }
}

.tasks-list{
    padding: 0 2rem;
}

.task{
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--light-grey);
    border-left: 10px solid orangered;
    > div{
        > p,
        > textarea{
            margin-bottom: 1rem;
        }

        >textarea{
            width: 100%;
            height: fit-content;
        }

        &.not-done{
            border-color: orangered;
        }

        &.done{
            border-color: green;
        }

        &.done-late{
            border-color: orange;
        }

        > .task-border{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            > i:hover{
                text-shadow: 0 0 5px var(--white);
            }
        }
    }
}

.hidden{
    display: none;
}